body{
}

.middle-position{
    margin:auto;
    width:300px;
}

.list-add{
    margin:10px 0;
}

.list{
    margin:10px 0;
}

.list-header{
    background: #808080; 
}

.list-body{
}

.list-row{
    padding:2px 10px;
}

.list-row:nth-child(even) { 
    background: #e1e1e1;
}

.list-cell{
    overflow:hidden;
    display:inline-block;
}

.list-edit-button{
    float:right;
}

.modal-error{
    color: red;
}

.modal-row{
    margin:10px 0;
}