<div id="DriverModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{drivers.title}}</h4>
            </div>
            <form ng-submit="drivers.saveDriver()" name="formAddDriver">
                <div class="modal-body">
                    <div class="modal-row row">
                        <div class="col-xs-2">Name</div>
                        <div class="col-xs-10">
                            <input class="form-control" name="name" type="text" step="1" ng-model="drivers.tempDriver.name" required />
                            <div ng-messages="formAddDriver.name.$error">
                                <div class="modal-error" ng-message="required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-row row">
                        <div class="col-xs-2">Cars</div>
                        <div class="col-xs-10">
                            <ul class="list-group">
                                <li class="list-group-item modal-row-car-description" ng-repeat="car in drivers.tempDriver.cars">Year: {{car.year}}, Description: {{car.description}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save">
                    <input type="button" class="btn btn-danger" value="Delete"
                        ng-disabled="drivers.isNew" ng-true-value="false" ng-false-value="true"
                        confirmed-click="drivers.deleteDriver()" ng-confirm-click="Delete this driver and all his cars?">
                </div>
            </form>
        </div>
    </div>
</div>