@{
    Layout = "_Layout";
}

<div class="cars" ng-controller="CarsController as cars" ng-init="cars.getCars()">
    <input class="btn btn-primary cars-add" type="button" ng-click="cars.addCar()" data-toggle="modal" data-target="#CarModal" value="+" />

    <div class="cars-list">
        <div class="cars-list-header row">
            <b class="col-xs-3">Year</b>
            <b class="col-xs-3">Description</b>
        </div>

        <div class="cars-list-body">
            <div class="cars-list-row row" ng-repeat="car in cars.cars">
                <div class="cars-list-cell col-xs-3">{{ car.year }}</div>
                <div class="cars-list-cell col-xs-3">{{ car.description }}</div>
                <div > <input type="button" class="btn btn-danger list-tasks-btn" ng-click="cars.editCar(car, $index)" data-toggle="modal" data-target="#CarModal" value="E" /> </div>
            </div>
        </div>
    </div>

    @Html.Partial("CarModal")
    @Html.Partial("DriverModal")
</div>